[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "mattabbo.github.io"]
	path = mattabbo.github.io
	url = git@github.com:mattabbo/mattabbo.github.io.git
